@font-face {
  font-family: 'Donegal One';
  font-style: normal;
  font-weight: 400;
  src: local('Donegal One'), local('DonegalOne-Regular'), url(LIom94sU9XlcGbVvjBz0oLrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
