@media only screen and (max-width:1180px) {
.container { width: 1004px;}
/*-----------------------
CSS FOR MENU SECTION
-------------------------*/
.menu-bar ul.menu-bar-li li a { padding: 10px 12px 0 7px; font-size: 15px;}
.logo { margin: 10px 0 0;}
/*-----------------------
CSS FOR TOP SECTION
-------------------------*/
.inner-box ul li:last-child { width: 57%;}
/*-----------------------
CSS FOR LEFT SECTION
-------------------------*/
.p3-updt { width: 100%;}
/*-----------------------
CSS FOR RIGHT SECTION
-------------------------*/
.right-div-1 ul li img{ width:40px;}
.txt4-rgt span.span4 { font-size: 18px; line-height: 22px;}
.right-head {font-size: 26px;}
ul.list-rgt li p span {
    font-size: 16px;
    line-height: 18px;
    padding: 8px 0 0;
    width: 224px;
}
/*-----------------------
CSS FOR FOOTER SECTION
-------------------------*/
.ft-logo{width:180px;}
.ft-blocks.left-border{padding-left:20px;}
.subscribe-txt, .ft-blocks ul li a, .footer_social, .copyright{font-size:14px;}
}
@media only screen and (max-width:1023px) {
.container { width: 760px; padding: 0 3px;}
.menu-bar, .strip, .hide-mob{display:none;}
.mobile-menu{display:block;}
/*-----------------------
CSS FOR menu SECTION
-------------------------*/
.top-sec { padding: 8px 0;}
.mob-mnu{
	float:right;
	margin-top:-51px;
	padding-right:5px;
}
.logo { width: 175px; margin:0;}
.logo-sec { width: 50%; }
/*-----------------------
CSS FOR SECTION 1
-------------------------*/
.sec1-p2 {
    font-size: 34px;
    line-height: 36px;
	margin-top: -5px;
}
.div-post ul { width: 100%;}
.div-post ul li{ font-size:14px; line-height:20px;}
.div-post ul li:last-child { padding: 16px 0 0;}
.comn-para { font-size: 16px; line-height: 24px;}
.inner-box ul li{
	padding:0 0 0 0;
	width:100%;
	float:none;
	text-align:center;
}
.inner-box ul li img { width: 75px;}
.inner-box ul li:last-child { width: 100%;}
.hdng1 { margin: 0px 0 10px;}
.mrgn1 { margin-top: 10px;}
.mrgn6 { margin-top: 7px;}
.txt2 span.span1 { font-size: 21px; padding-bottom: 18px;}
.txt4 { font-size: 16px; line-height: 16px;}
.padd1 { padding-bottom: 20px;}
.padd2 { padding-bottom: 20px; padding-top: 20px;}
.padd3 { padding-top: 20px;}
.txt5 { font-size: 15px; line-height: 17px; padding-top: 8px;}
.hdngdivtxt { font-size: 23px; line-height: 23px;}
.social-img { width: 95%;}
/**********/
.div-post ul li:last-child { padding: 11px 0 0;}
.txt1 span.span2 { font-size: 28px;line-height: 28px; margin-left: 45px;}
.icon-rgt { margin: 0 7px 0 0;}
.p1-rgt { font-size: 16px; line-height: 16px; padding: 8px 5px 9px 7px;}
ul.list-rgt li p span {
    font-size: 15px;
    line-height: 18px;
    padding: 8px 0;
    width: 152px;
}
.update-div { padding: 27px 20px;}
.txt1 span.span1 {
    font-size: 26px;
    line-height: 28px;
    padding: 7px 0;
    margin-right: 14px;
    width: 40px;
    height: 40px;
}

/*-----------------------
CSS FOR SECTION 1
-------------------------*/
.right-head { font-size: 22px;line-height: 22px;}
.img1-rgt{max-width:100%;}
.comn-para2 { font-size: 15px; line-height: 19px;}
.treading-div p{font-size:14px;line-height:18px;}
.p3-rgt {
    font-size: 15px;
    line-height: 18px;
    padding: 5px 0;
}
.social-rgt { width: 100%;}
.p3-updt {
    font-size: 20px;
    line-height: 24px;
    padding: 15px;
    width: 100%;
}
.p1-updt { font-size: 27px; line-height: 24px; padding: 6px 20px 4px;}
.p2-updt { font-size: 27px;}
.p4-updt {
    font-size: 25px;
    line-height: 25px;
    padding: 20px;
    padding: 13px 30px;
}
.lft-sec2 { margin-top: 35px;}
.section1 { padding-bottom: 30px;}
.sec1-content { padding: 30px 10px 10px;}
.cmnt-sec .comn-para { font-size: 16px; line-height: 20px;}
/******/
.ft-blocks{width:24%;}
.ft-logo{width:150px;}
.footer_social a {margin-left: 2px;}
.ft-blocks.left-border{padding-left:10px; width:17%;}
.subscribe-txt, .ft-blocks ul li a, .footer_social, .copyright{font-size:13px;}

}

@media only screen and (max-width:767px) {
.container {
	width: 100%;
	max-width: 580px;
	padding: 0 2%;
}
.social-icon{display:none;}
/*-----------------------
CSS FOR SECTION BANNER
-------------------------*/
.top-p1 { font-size: 12px; line-height: 14px;}
/******/
.section1 { background: #fff; padding-bottom: 0;}
.sec1-p1{font-size: 14px; line-height: 18px;}
.sec1-p2 {
    font-size: 30px;
    line-height: 32px;
	padding: 0 0 20px 0;
	margin-top: 0;}

.left-sec, .right-sec{ float:left;width:100%;}
.right-sec { margin-top: 20px;}
.left-sec{
	padding: 0;
	border:none;
	margin-bottom:20px;
}
.left-secin { padding: 0; border-right: none;}
.txt1-comment { font-size: 26px; line-height: 26px;}
.hdng1 { font-size: 26px; line-height: 26px;}
.txt4-rgt span.span4 { font-size: 18px; line-height: 22px;}	
/*****/
.right-div-1 ul li img { width: 45px;}
.txt4-rgt { margin-top: 23px; width: auto;}
.left-sec { margin-bottom: 0;}
.right-secin2 { border-top: none;}
.img-sticky{
	max-width:347px;
	float:none;
	margin:10px auto 0;}
.right-head {
    text-align: center;
    display: inline-block;
    width: auto;
    float: none;
}
.p1-rgt { text-align: center;}
ul.list-rgt {
    float: none;
    margin: 17px auto 0;
    display: table;
    max-width: 340px;
	width:auto;
}
ul.list-rgt li { width: auto; float: none;}
ul.list-rgt li p span { width: 274px;}
.social-rgt { max-width: 270px; float: none;}
.p4-rgt { text-align: center;}
/**********/
.cmnt-hdng h3{margin-bottom:5px;}
.cmnt-hdng h3, .cmnt-hdng .user-rtngs, .cmnt-hdng span{float:none;}
/*****/
.footer { text-align: center; padding: 22px 0;}
.for-desk{display:none;}
.for-mobile{display:block;}
.copyright { margin-top: 0;}

}

@media only screen and (max-width:579px) {
.logo { width: 155px;}
.ofr-prod { width: 155px;}
.logo-sec { width: 70%;}
.mob-mnu { margin-top: -44px;}
.only-480{ display:block;}

.div-post ul li span.f-b { margin: 5px 0 0;}
.div-post ul li:last-child { padding: 2px 0 0;}
.sec1-content { padding: 25px 0 10px;}
.brdr1 { padding-top: 20px;}
.txt1 { margin: 8px 0 20px;}
.comn-para, .comn-para3 { margin: 0 0 20px 0;}
.mrgn7 { margin-bottom: 20px;}
.social-img { margin: 10px 0;}
.lft-sec2 { margin-top: 20px;}

}

@media only screen and (max-width:480px) {
.best-part p, .hdng1 { font-size: 23px; line-height: 25px;}
.img-txt { font-size: 18px; line-height: 22px;}
.sec1-p2 { font-size: 27px; line-height: 30px;}
.txt4-rgt span.span4 { font-size: 17px; line-height: 20px;}
.txt4-rgt { margin-top: 13px;}
.txt7 {  width: calc(100% - 110px);}
.logo { width: 125px;}
.mob-mnu { margin-top: -40px;}
.top-sec { padding: 7px 0;}
.sec1-p3 { font-size: 18px; line-height: 22px; padding: 0px 0 20px 0;}
.div-post, .best-part { padding: 4px 0;}
.txt2 { width: calc(100% - 110px);
line-height:21px;}
.txt2 span.span1 { font-size: 19px; padding-bottom: 12px;}
/**************/
.div-post ul li { font-size: 13px;}
.div-post ul li span.f-b { font-size: 14px;}
.div-post ul li span.f-b img { margin: 2px 0px 0 0;}
.div-post ul li { padding: 0 12px 0 0;}
.social-img { width: 100%;}
.txt1 span.span2 {
    font-size: 24px;
	line-height:26px;
	margin-left: 41px;
}
.txt1 span.span1 {
    font-size: 22px;
    line-height: 30px;
    padding: 5px 0;
    margin-right: 12px;
    border-radius: 48px;
    width: 40px;
    height: 40px;
}
.update-div { padding: 20px 10px;}
.p1-updt { font-size: 22px; line-height: 21px;}
.p2-updt { font-size: 22px;}
.p3-updt { font-size: 16px; line-height: 22px; padding: 10px;}
.p4-updt {
    font-size: 19px;
    line-height: 25px;
    padding: 9px 10px;
	margin: 15px auto 0;
}
ul.list-rgt li p span { width: 201px;}
.cmnt-sec { padding-left: 70px;}
.revw-hdr h3 { font-size: 26px; line-height: 26px;}
	
	}
