@charset "utf-8";
/* CSS Document */
/*----------------
RESET CSS
-----------------*/
body {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 0;
	background: #fff;
	color: #3c3c3c;
	text-align: center;
	font-family: 'Roboto';
}

div, ul, h1, h2, h3, h4, h5, li, p, img, form, input, textarea {
	margin: 0;
	padding: 0;
}
table, tr, td {
	border: 0;
}
a {
	outline: none;
	color: #ff0000;
	text-decoration: none;
}
a:hover {
	outline: none;
	color: #000;
	text-decoration: none;
}
img {
	border: none;
	vertical-align:middle;
}
li {
	list-style: none;
}
* {
	box-sizing: border-box;
}
.img-full {
	max-width: 100%;
}
.clearall {
	clear: both;
	font-size: 1px;
	line-height: 1px;
	height: 1px;
}
.dsktp{display:block}
.mbl{display:none}
.mobile-menu, .foo-mobile{
	display:none;
}
.full-img {
    float: left;
    width: 100%;
    margin: 0 0 25px 0;
}
.undr_ln{
	text-decoration:underline;
}
.seprt{
	border-bottom: 1px solid #e8e8e8;
	display: inline-block;
	width: 100%;
	margin-bottom: 25px;
}
.light-menu{ display:none;}
.light-menu .mob-sub-menu{display:none}
/*-----------------------
MAIN CSS START
------------------------*/
.container {
	width: 1170px;
	margin: 0 auto;
	padding: 0;
}
/*-----------------------
CSS FOR TOP SECTION
-------------------------*/
.top-sec{
	float:left;
	width:100%;
	padding:6px 0;
	background: #252525 ;
}
.top-lft{
	float:left;
	width:50%;
	color:#fff;
}
.top-lft img, .top-lft select{
	float:left;
}
.top-lft img{padding-right:10px;}
.top-lft select{
	background:#252525;
	color:#fff;
	border:none;
}
.top-rgt{
	float:right;
}
header{
	background:#f9f9f9;
	float:left;
	width:100%;
	padding: 10px 0;
	border-bottom:2px solid #d1d1d1;
	position:relative;
	box-sizing:border-box;
}
/*--LOGO SECTION --*/
.logo-sec{
	float: left;
	width: 100%;
	padding: 13px 0;
	max-width: 295px;
	margin-right: 15px;
}
.logo-sec img{
	max-width:100%;
}
/*--HEADER RIGHT----*/
.hdr-rgt {
    float: left;
    width: 100%;
	position:relative;
	box-sizing:border-box;
	max-width:860px;
}
.hdr-social {
    float:right;
	margin-right:320px;
	margin-top: 7px;
}
.hdr-social li{
	display:inline-block;
	padding:1px 2px;
}
.search-box {
    position: absolute;
    width: 300px;
    right: 0;
    top: 0px;
}
.search-box input[type="text"]{
	width:100%;
	border:1px solid #cacaca;
	height:35px;
	padding:0 10px;
	color:#8f8f8f;
	background: url("http://mediabarge.com/web-news-24/18/ca/en/images/srch-btn.png");
	background-position: right center;
	background-repeat: no-repeat;
	font-family:'Roboto';
	font-size: 17px;
	line-height: 19px;
}

.main-menu {
    float: left;
    width: 100%;
	margin: 30px 0 0px;
	border-top: 1px solid #e3e3e3;
	padding-top: 6px;
}
.main-menu li{
	display:inline-block;
	margin:0;
}
.main-menu li a{
	color:#444444;
	text-transform:uppercase;
	font-size:15px;
	line-height:17px;
	font-weight:700;
}
.main-menu li:after{
	content:url("http://mediabarge.com/web-news-24/18/ca/en/images/menu-brdr.png");
	padding: 0 11px;
	position:relative;
	top:7px;
}

.main-menu li:last-child:after{
	content:"";
}

.strip{
	margin: 15px auto 30px;;
	max-width: 700px;
	width: 100%;
}

/*-----------------------
CSS FOR SECTION ONE
-------------------------*/
.section1{
	float:left;
	width:100%;
	padding:20px 0 0px;
}
/*-----------------------
CSS FOR LEFT SECTION
-------------------------*/
.left-sec{
	float:left;
	width:67%;
	padding:0 25px 0 0;
	position:relative;
	box-sizing:border-box;
}
.brdcmb {
	float: left;
	width: 100%;
	text-align: left;
	color: #282828;
	font-size: 14px;
	line-height: 18px;
	margin-bottom:20px;
}
.brdcmb a{color:#767676}

.brkng-news{
	background:url("http://mediabarge.com/web-news-24/18/ca/en/images/brkng-nws.png");
	color:#fff;
	border-bottom:3px solid #ff000a;
	float:left;
	width:100%;
	height:39px;
	background-repeat:no-repeat;
	background-position:left center;
}
.brkng-news h3{
	text-align:left;
	text-transform:uppercase;
	font-weight:700;
	font-size:16px;
	line-height:18px;
	padding: 10px 0 10px 10px;
}
.sec1-p1{
	margin:20px 0;
	font-size:36px;
	line-height:40px;
	color:#131313;
	text-align:left;
	float:left;
	letter-spacing: -1px;
	font-weight: normal;
}
.sec1-p2{
	text-align:left;
	font-size:30px;
	line-height:34px;
	color:#131313;
	float: left;
	margin-bottom: 30px;
	font-weight:normal;
}
.sec1-p2 span{
	background:url('http://mediabarge.com/web-news-24/18/ca/en/images/p2-span.png');
	background-position:left center;
	background-repeat:no-repeat;
	padding: 5px 15px;
	color: #fff;
	background-size:100%;
}
.post-hdr{
	float:left;
	width:100%;
	margin-bottom:28px;
	position: relative;
	box-sizing: border-box;
	padding-left:75px;
	border-top:1px solid #dadada;
	border-bottom:1px solid #dadada;
	padding-top:10px;
	padding-bottom:10px;
}
.pst-face img{max-width:100%; vertical-align:middle}
.pst-cnt{
	float:left;
	text-transform:uppercase;
	color:#2e2e2e; 
	font-size:16px; 
	line-height:18px;
	text-align:left; 
	margin-bottom:10px;
}
.pst-hdr{padding:10px 0;}
.pst-dt{display:block}
.ath-name{color:#ff0000;}
.pst-social{float:left; max-width:250px;padding:10px 0 10px 30px; }
.pst-social img{max-width:100%;}
.pst-face{
	position: absolute;
	max-width: 70px;
	left: 0;
	top: 5px;
}
.social-img {
    float: left;
    max-width: 230px;
    vertical-align: middle;
    margin: 16px 0 0 30px;
    width: 100%;
}
.post-sbscrbe{
	float:right;
	max-width:130px;
	width:100%;
	vertical-align: middle;
	padding:10px 0;
}

.comn-para {
    float: left;
    width: 100%;
    font-size: 17px;
    line-height: 23px;
    color: #131313;
    text-align: left;
    margin: 0 0 30px 0;
    font-weight: 400;
}
.comn-para span{
	color:#ff0000;
	font-weight:bold;
}
.voucher{
	background:#fdfbd4;
	display:inline-block;
	padding:10px 20px;
	font-size:20px;
	line-height:22px;
	color:#0d0d0d;
	margin-bottom:25px;
}
.voucher span{
	color:#ff0000;
	font-weight:bold;
}

.get-spin{
	max-width:400px;
	margin: 0 auto 25px auto;
	float: none;
}
.promotion{
	float:left;
	width:100%;
	position:relative;
	box-sizing:border-box;
}
.promotion .promt-blk{
	float:left;
	width:100%;
	background:url('http://mediabarge.com/web-news-24/18/ca/en/images/dot.png');
	background-repeat:repeat-x;
	background-position: 0 13px;
}
.promt-blk p.comn-para{
	margin:0 auto;
	background:#fff;
	width:70%;
	float:none;
}
.promotion .comn-para{
	text-align:center;
	color:#212121;
}
.timer{
	clear:both;
	display:table;
	max-width:290px;
	width:100%;
	background:#fdfbd4;
	border-radius:10px;
	border:1px solid #d8d48b;
	margin:0 auto 30px;;
	padding:10px;
}
.timer h4{
	text-transform:uppercase;
	font-size:14px;
	line-height:18px;
	color:#ff0000;
	margin-bottom:10px;
}
.tm-name {
	text-transform: uppercase;
	font-size: 13px;
	line-height: 15px;
	float: left;
	width: 78px;
}
.tm-name1{padding:5px 48px;}
.tm-name2{padding:5px 10px;}
.tm-name3{padding:5px 0px;}
#stopwatch span{
	display:inline-block;
	color:#fff;
	background:#232323;
	padding:5px 25px;
	border-radius:5px;
	margin:0 4px;
}

.cmnt-box{
	float:left;
	width:100%;
	position:relative;
	box-sizing:border-box;
	background:#f1f1f1;
	padding:18px 10px 18px 86px;
	margin: 10px 0;
}
.cmnt-box input[type="text"]{
	width:100%;
	height:55px;
	border:1px solid #cdd3df;
	padding:0 10px;
}
#hidden-content{
	max-width:400px;
	padding:10px 15px;
	width:100%;
}
#hidden-content img{
	max-width:200px;
	width:100%;
	display:block;
	margin:0 auto;
}
#hidden-content p{
	padding:20px 0;
	text-align:center;
}
#cmnt-btn {
    float: right;
    margin-top: 10px;
    max-width: 95px;
    width: 100%;
}
.cmnt-box .user-icon{
	position:absolute;
	left:10px;
	top:10px;
}

.revw-hdr, .cmnt-sec {
    display: inline-block;
    width: 100%;
    line-height: 30px;
}
.cmnt-sec:last-child{border:none}
.revw-hdr h3 {
    font-size: 24px;
    text-align: left;
    float: left;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 28px;
}
.mail-new{
	position:absolute;
	top:0;
	right:25px;
}
.num-comnts {
    position: absolute;
    top: 40px;
    left: 0;
}
.cmnt-hdng h3 {
    font-size: 18px;
    line-height: 16px;
    color: #5d6ea2;
    font-family: Arial, Helvetica, sans-serif;
}
.cmnt-hdng h3, .cmnt-hdng .user-rtngs {
    text-align: left;
    float: left;
}
.cmnt-hdng span {
    float: left;
    color: #848484;
}
.cmnt-sec {
    padding-left: 80px;
    border-bottom: 1px solid #b3b3b4;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.cmnt-sec .user-icon {
    position: absolute;
    left: 0px;
    border-radius: 33px;
    width: 60px;
    height: 60px;
    overflow: hidden;
}
.cmnt-sec .comn-para {
	color: #232323;
	font-size: 17px;
	margin-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
}
.cmnt-sec .rgt-sec {
    float: left;
    width: 100%;
}
.cmnt-hdng {
	display: inline-block;
	line-height: 15px;
	width: 100%;
	text-align: left;
}
.cmnt-sec .cmnt-dt {
	float: left;
	color: #848484;
	font-weight: 400;
}
.cmnt-sec .cmnt-dt span {
    font-weight: 400;
    color: #5d6ea2;
}
/*************8FOOTER *******/
.footer {
    margin-top: 10px;
    float: left;
    width: 100%;
    padding: 20px 0 10px 0;
    background: #191919;
	padding-bottom:20px;
}
.footer ul{
	display:block;
	margin-bottom:20px;
}
.footer li{
	display:inline-block;
	margin:0 6px;
}
.footer li a{
	font-size:14px;
	line-height:18px;
	color:#888888;
	text-transform:uppercase;
}
.footer img{
	max-width:190px;
	width:100%;
	margin-bottom:10px;
}

/*------RIGHT SECTION ------------*/
.right-sec {
    float: right;
    width: 31%;
}
.top-stories{
	float:left;
	width:100%;
	max-width:400px;
	margin-bottom:20px;
	
}
.top-stories .str-hdr{
	background:#ff000a;
	color:#fff;
	font-size:20px;
	line-height:24px;
	padding:10px 13px;
	text-align:left;
}

.top-stories h3{
	float:left;
	text-align:left;
	font-size:18px;
	line-height:20px;
	text-transform:uppercase;
	font-weight:normal;
	margin:15px 0;
}

.st1{
	float:left;
	position:relative;
	box-sizing:border-box;
	padding-left:70px;
	margin: 0 0 15px;
	min-height:60px;
}
.st1 .st1-img{
	position:absolute;
	left:0;
	top:0;
}
.st1 p{
	float:left;
	width:100%;
	font-size:17px;
	line-height:19px;
	color:#2b2b2b;
	text-align:left;
	padding-bottom:10px;
	border-bottom: 1px dashed #ccc;
}
p.sml-blk{
	padding-top:10px;
}


.news-letter{
	float:left;
	width:100%;
	background:#ff000a;
	color:#fff;
	padding: 15px;
	margin-bottom:30px;
	max-width:400px
}
.news-sec{
	position:relative;
	box-sizing:border-box;
	padding-left:60px;
	float:left;
	width:100%;
}
.news-sec .mail{
	position:absolute;
	left:0;
	top:0;
	width:50px;
}
.news-sec h4{
	font-weight:bold;
	text-align:left;
	text-transform:uppercase;
	font-size:18px;
	line-height:20px;
}
.news-sec p{
	float:left;
	width:100%;
	text-align:left;
	font-size:17px;
	line-height:19px
}
.news-letter input[type="text"]{
	height:40px;
	width:100%;
	max-width: 230px;
	margin-right: 10px;
	margin-top: 10px;
	float:left;
}
.submit {
    float:left;
	margin-top:10px;
}

.get-connect{
	float:left;
	width:100%;
	padding:15px 0;
	border-top:1px solid #9e9e9e;
	border-bottom:1px solid #9e9e9e;
	margin-bottom:30px;
	max-width:400px;
}
.get-connect h3{
	color:#333333;
	font-size:18px;
	line-height:20px;
	text-align:left;
	float:left;
	text-transform:uppercase;
	margin-bottom:10px;
}
.get-connect img{
	margin-bottom:0;
	max-width:270px;
}