@media screen and (max-width: 640px) {
	.footer_text {
	font-size: 14px;
	padding-right: 50px;
	padding-left: 50px;
	text-align: left;
}
}
@media screen and (max-width: 640px){
	.value-name{font-size: 11px;}
}
@media screen and (max-width: 480px) {
	.footer_text {
	font-size: 14px;
	padding-right: 10px;
	padding-left: 10px;
	text-align: left;
}
.follow-us p {
	font-size: 13px;
}
.action_links{
	font-size: 10px;
	}
.uiBlingBox .img{
	margin-top: -2px;
	}
}
@media screen and (max-width: 320px){
		.value-name{font-size: 7px;}
}
.value-compare{font-size: 12px;}
}